.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);



}

.card {
    margin: 1.5em;
    padding: 1.5em;
    background: linear-gradient(90deg, rgb(99, 185, 33), rgb(127, 21, 214), rgba(15, 187, 218, 0.76));
   

}

img {
    border-radius: 30px;
    box-shadow: 10px 8px 10px 0px rgba(113, 44, 204);

}

.card>.info {
    text-align: center;



}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);


    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);





    }
}

.card {
    margin-inline: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.666), rgba(0, 0, 0, 0.333));
    border-radius: 20px;




}

.card a {
    text-decoration: none;


}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;

}

/* .navbar {    background: linear-gradient(45deg, rgb(202, 206, 199), rgb(123, 26, 202), rgba(39, 2, 31, 0.76));
} */






body {
    background: linear-gradient(270deg, rgba(113, 44, 204, 0.999), rgba(113, 44, 204, 0.666), rgba(113, 44, 204, 0.333));
}

h1 {
    color: #FFFFFF;
}


.card-front {
    background-image: url(img/1f1.jpg);
}
.card-back {
    background-image: url(img/1f3.webp);
    transform: rotateY(180deg);
}



















/* .card-front9 {
    background: linear-gradient(180deg,  rgba(35, 0, 92, 0.999),rgba(35, 0, 92, 0.666),rgba(35, 0, 92, 0.333));
}

.card-back9 {

    background: linear-gradient(180deg,  rgba(0, 0, 0, 0.999),rgba(0, 0, 0, 0.666),rgba(0, 0, 0, 0.333));
    transform: rotateY(180deg);
} */
